<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lisää Jalkapalloilija</title>
</head>
<body>

<h2>Lisää uusi jalkapalloilija</h2>

<form th:action="@{/jalkapalloilijat/add}" th:object="${jalkapalloilija}" method="post">
    Etunimi: <input type="text" th:field="*{etunimi}" /><br>
    Sukunimi: <input type="text" th:field="*{sukunimi}" /><br>
    Maalit: <input type="number" th:field="*{maalit}" /><br>
    Keltaiset kortit: <input type="number" th:field="*{keltaisetKortit}" /><br>
    Punaiset kortit: <input type="number" th:field="*{punaisetKortit}" /><br>
    <input type="submit" value="Lisää" />
</form>

</body>
</html>
